.page-title {
  color: #ff6200;
  font-size: 24px;
  font-weight: bold;
  margin-left: 20px;
  margin-bottom: 20px;
}

.task-editing-container {
  padding: 20px;
  margin-left: 20px;
  max-width: calc(100% - 240px);
  background-color: #fff4e6;
  border: 1px solid #ff6200;
  border-radius: 8px;
  box-sizing: border-box;
}

.form-group {
  margin-bottom: 20px;
}

.section-title {
  display: block;
  margin-bottom: 10px; /* Tạo khoảng cách với box */
  font-weight: bold;
  font-size: 16px;
  color: #ff6200;
}

input[type='text'],
textarea,
input[type='date'],
input[type='time'] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ff6200;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}

textarea {
  resize: none;
  height: 100px;
}

.departments {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 10px;
  border: 1px solid #ff6200;
  border-radius: 8px;
  background-color: #fff;
}

.department-item input[type='radio'] {
  accent-color: #ff6200; /* Màu cam cho radio button khi được tick */
}

.time-group {
  display: flex;
  gap: 40px;
}

.time-inputs {
  display: flex;
  gap: 10px;
}

.assignees-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  border: 1px solid #ff6200;
  border-radius: 8px;
  max-height: 150px;
  max-width: 400px;
  overflow-y: auto;
  background-color: #fff;
}

.assignee-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.assignee-item input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  width: 18px;
  height: 18px;
  border: 2px solid #ff6200;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
}

.assignee-item input[type="checkbox"]:checked {
  background-color: #ff6200; /* Fill màu cam */
  border-color: #ff6200;
}

.assignee-name {
  background-color: #ddd;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 16px;
}

.form-actions {
  display: flex;
  justify-content: flex-end; /* Đẩy nút sang phải */
}

.submit-button {
  background-color: #ff6200;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.submit-button:hover {
  background-color: #e55a00;
}