.chart-container {
    background: #fff;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 16px;
  }
  
  h1 {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 30px;
  }
  
  .text-center {
    text-align: center;
  }
  
  .text-red-500 {
    color: #f56565;
  }
  
  .bg-gray-100 {
    background-color: #f7fafc;
  }

  .textHeader{
    font-size: 30px;
    font-weight: bold;
    color: #f89236;
    margin-top: 20px;
  }