.account-container-no-border {
  align-self: center;
  width: fit-content;
  display: flex;
  justify-self: center;
  justify-content: center;
}
.back-btn {
  background-color: #f0f0f0;
  padding: 10px 20px;
  border: none;
  color: #333;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
  transition: background-color 0.3s;
}

.back-btn:hover {
  background-color: #e0e0e0;
}

.disable-btn {
  background-color: #e53935;
  color: white;
  padding: 10px 16px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 12px;
  font-size: 18px;
}

.disable-btn:hover {
  background-color: #c62828;
}
