.button-container {
    display: flex;
    width: 100%;
    padding-bottom: 20px;
  }
  
  .dashboard-button {
    flex: 1;
    padding: 16px 0;
    font-size: 18px;
    background-color: #ffffff;
    border-top: 1px solid rgba(91, 72, 72, 0.5); /* viền trên */
    border-bottom: 1px solid rgba(91, 72, 72, 0.5); /* viền dưới */
    border-left: none; /* không viền trái */
    border-right: none; /* không viền phải */
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
  }
  
  .dashboard-button:hover {
    background-color: #89c7e5; /* khi hover màu đậm hơn chút */
  }
  