.list-container {
  background-color: #ffecda;;
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
  width: calc(100% - 32px); /* Giảm chiều rộng để trừ padding/margin */
  max-width: 1024px; /* Đặt giới hạn chiều rộng tối đa */
  margin: 0 auto; /* Căn giữa theo chiều ngang */
  overflow-x: hidden; /* Ẩn phần tràn ngang */
  height: 100%;
}

.list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 25px; /* Padding hợp lý */
  border-bottom: 1px solid #ff6200;
}

.list-items {
  padding: 0;
  max-height: calc(100vh - 250px); /* Chiều cao tối đa */
  overflow-y: auto;
}

.empty-list {
  text-align: center;
  padding: 20px 0;
  color: #ff6200;
  font-size: 16px;
}