.button-container {
    display: flex;
    width: 100%;
  }
  
  .dashboard-button {
    flex: 1;
    padding: 16px 0;
    font-size: 18px;
    background-color: #ffffff;
    border: 5px solid #f89236;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #f89236;
  }
  
  .dashboard-button:hover {
    background-color: #f89236; /* khi hover màu đậm hơn chút */
    color: white;
    font-size: 30px;
    font-weight: bold;
  }
  .dashboard-button.active {
    background-color: #f89236; 
    color: white;
  }